.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 100px;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  padding: 0 15px;
  background-color: white;
  color: black;
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card span {
  font-weight: 700;
}

.card li {
  list-style: none;
}

.button {
  display: flex;
  justify-content: center;
  gap: 20px;
}